<div class="center hero-unit">
  <h1>Welcome to zillow-clone</h1>
  <h2>Why not-house when you can house? BUY HOUSES!</h2>
  <% if current_user %>
    <h2>Look at all these <%= link_to "Houses!!!", listings_url %> Click on them now.</h2>

  <% else %>
    <h2><%= link_to "Sign Up Now!", new_user_registration_url, class: "btn btn-large btn-primary" %></h2>
  <% end %>
</div>
